{% extends 'base.html' %}

{% block content %}
<div class="container">
    {% include 'flash_messages.html' %}
    <div class="jumbotron text-center mt-5">
        <h1>PantryPal</h1>
        <p>Create personalized recipes based on your ingredients and preferences, powered by AI!</p>
    </div>

    <div class="row">
        <div class="col-md-6 text-center">
            <h2>Generate a Recipe</h2>
            <a href="{{ url_for('recipe') }}" class="btn btn-primary">Get Started</a>
        </div>
        <div class="col-md-6 text-center">
            {% if current_user.is_authenticated %}
                <h2>Stock your Pantry</h2>
                <a href="{{ url_for('pantry') }}" class="btn btn-success">Pantry</a>
            {% else %}
                <h2>Create a User Profile</h2>
                <a href="{{ url_for('register') }}" class="btn btn-success">Sign Up</a>   
            {% endif %}
        </div>
    </div>

    <div class="carousel-container mt-5 text-center">
        <h2>Featured Recipes</h2>
        <p><small class="subtitle">Click on a recipe to see more!</small></p>
        <div id="recipe-carousel" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner">
                {% for recipe in recipes %}
                    <div class="carousel-item {% if loop.index == 1 %}active{% endif %}" data-recipe-id="{{ recipe.id }}">
                        <div class="carousel-recipe d-flex flex-column justify-content-center align-items-center h-100 text-center">
                            <h3>{{ recipe.title }}</h3>
                            <p>{{ recipe.ingredients }}</p>
                        </div>
                    </div>
                {% endfor %}
            </div>
            <a class="carousel-control-prev" href="#recipe-carousel" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#recipe-carousel" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
    </div>  
</div>
<script>
    document.querySelectorAll('.carousel-item').forEach(function(checkbox) {
        checkbox.addEventListener('click', function() {
            var recipeId = $(this).data('recipe-id');
            window.location.href = "{{ url_for('recipe') }}" + "?recipe_id=" + recipeId;
    })});
</script>
{% endblock %}
