body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

.navbar {
    z-index: 101;
    position: fixed;
    width: 100%;
}

.container {
    margin-top: 56px;
}

.main-content {
    flex: 1;
    display: flex;
}

.sidebar-wrapper {
    width: 25%;
    height: calc(100% - 56px);
}

.sidebar {
    position: fixed;
    top: 56px;
    left: 0;
    bottom: 0;
    width: 25%;
    padding: 10px;
    background-color: #c5c8cb;
    border-right: 1px solid #dee2e6;
    overflow-y: auto;
    z-index: 100;
}

.flash-messages {
    position: relative;
    margin-top: 5px;
    z-index: 200;
}

.scrollable-ingredients::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 7px;
}

.scrollable-ingredients::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 4px;
}

.scrollable-ingredients {
    scrollbar-width: thin;
    scrollbar-color: rgba(0, 0, 0, 0.5) transparent;
    max-height: 200px;
    overflow-y: auto;
    margin-bottom: 20px;
}

.ingredient-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-gap: 20px;
}

.ingredient-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f8f9fa;
}

.delete-ingredient-form {
    margin-left: 5px;
}

.ingredient-category {
    border-bottom: 1px solid #ccc;
    padding-bottom: 1rem;
    margin-bottom: 1rem;
}

.ingredient-category:last-child {
    border-bottom: none;
}

.ingredient-list {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
}

.toggle-label {
    display: inline-block;
    padding: 6px 12px;
    font-size: 14px;
    font-weight: 500;
    color: #fff;
    text-align: center;
    background-color: #A9A9A9;
    border-radius: 4px;
    transition: background-color 0.3s;
}

.invisible-checkbox:checked + .toggle-label {
    background-color: #007bff;
}

.recipe-title {
    font-size: 2.5rem;
    font-weight: bold;
    text-align: center;
    margin-bottom: 1.5rem;
  }
  
  /* Ingredients List */
  .ingredients-header {
    font-size: 1.5rem;
    font-weight: bold;
    margin-top: 2rem;
    margin-bottom: 1rem;
  }
  
  .ingredients-item {
    font-size: 1.2rem;
    line-height: 1.5;
    margin-left: 1.5rem;
  }
  
  /* Instructions List */
  .instructions-header {
    font-size: 1.5rem;
    font-weight: bold;
    margin-top: 2rem;
    margin-bottom: 1rem;
  }
  
  .instruction-item {
    font-size: 1.2rem;
    line-height: 1.5;
    margin-left: 1.5rem;
  }
  
  /* Generated Recipe Box */
  .generated-recipe {
    margin: 0 auto;
    padding: 2rem;
    background-color: #f7f7f7;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  }

  .carousel-container {
    background-color: #f8f9fa;
    padding: 2rem;
    border-radius: 5px;
    width: 100%;
}

.carousel-recipe {
    background-color: rgba(180, 196, 217, 0.9);
    color: #212529;
    padding: 1rem;
    border-radius: 5px;
    width: 75%;
    min-height: 200px;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.15);
    margin: 0 auto;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    background-color: rgba(0, 0, 0, 0.3);
    width: 40px;
    height: 40px;
    border-radius: 50%;
    padding: 5px;
}

.carousel-item {
    cursor: pointer;
}


